<ion-view>
    <ion-header-bar align-title="left" class="bar-positive">
        <div class="buttons">
            <button class="button button-icon button-clear ion-android-arrow-back" ui-sref="login"></button>
        </div>
        <h1 class="title"><strong>Cadastro</strong></h1>
    </ion-header-bar>
    </ion-content>

    <ion-content>
	<div class="list">
		  <div class="item item-divider">Dados do usuario</div>
		  <label class="item item-input">
		  		<i class="icon ion-android-person placeholder-icon"></i>
		    	<input type="text" placeholder=" Usuario">
		  </label>
		  <label class="item item-input">
		  		<i class="icon ion-android-lock placeholder-icon"></i>
		    	<input type="password" placeholder=" Senha">
		  </label>
		  <label class="item item-input">
		  		<i class="icon ion-android-lock placeholder-icon"></i>
		    	<input type="password" placeholder=" Repita a senha">
		  </label>
		  <div class="item item-divider">Dados da empresa</div>
		  <label class="item item-input">
		    	<input type="text" placeholder="CNPJ">
		  </label>
		  <label class="item item-input">
		    	<input type="text" placeholder="Endereço">
		  </label>
		  <label class="item item-input">
		    	<input type="text" placeholder="Razao Social">
		  </label>
		  <label class="item item-input">
		    	<input type="text" placeholder="Responsavel">
		  </label>
		  <div class="padding">
			  	<button class="button button-block button-energized" style="margin-top:10px;">
	         		Cadastrar
	    	    </button>
		  </div>


	</div>
    </ion-content>
</ion-view>
