<ion-view title="Lista de notas">

        <ion-header-bar class="bar bar-positive bar-subheader item-input-inset">
                <label class="item-input-wrapper">
                    <i class="icon ion-android-search placeholder-icon"></i>
                    <input type="text" placeholder="Buscar" ng-model="search" ng-model-options="{updateOn: 'default', debounce:{default:700}}">
                </label>

        </ion-header-bar>

        <ion-content>

        		<ion-list
        			show-delete="shouldShowDelete"
        		    show-reorder="shouldShowReorder"
        		    can-swipe="listCanSwipe">
        		  	<ion-item ng-repeat="nota in notas | filter:search">
        		  		<div class="row">
        		  			<div class="col col-80 long-text">
        		  				<span style="color:#666; font-weight:bold;">{{::nota.chave}}</span>
        		  			</div>
        		  			<div class="col">
        		  				<span style="color:teal">{{::nota.data_emissao}} </span><br/>
        		  				<span style="color:#666">{{::nota.valor}}</span>
        		  			</div>

        		  		</div>

        		  	<ion-option-button class="button" ng-click="editarNota(nota)">
        		      	Editar
        		    </ion-option-button>

        		    <ion-option-button class="button-balanced" ng-click="excluirNota(nota)">
        		      	Excluir
        		    </ion-option-button>

        		  </ion-item>
        		</ion-list>

        </ion-content>
        <button class="button button-energized button-large float-button icon ion-android-add" ng-click="scan()"></button>

</ion-view>
