/* Empty. Add your own CSS if you like */
.logo{
	text-align:center;
	margin: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

.logo img{

}

.float-button{
	border-radius:50%;
	width: 70px;
	height: 70px;
	position: fixed;
	bottom: 20px;
	right: 10px;
	box-shadow: -2px 5px 20px #888888;
	z-index: 99;
}

.long-text {
		max-width: auto;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap
}

input[type="text"]:disabled {
		background-color: #FFF;
}
